<div class="notification-card">
  <div class="notification-content" (click)="openModal(notification)">
    <div class="notification-header">
      <span class="notification-user">
        {{ notification.user?.name || 'Nombre usuario' }}
      </span>
      <span class="notification-time">
        {{ (notification.alarmUserDevice?.location?.timestamp | date:'shortTime') ?? 'Hora desconocida' }}
      </span>
    </div>

    <div class="notification-body">
      <div class="notification-title">Alarma</div>
      <div class="notification-location">
        {{ notification.user?.address || 'Dirección desconocida' }}
      </div>
    </div>
  </div>

  <div class="notification-action">
    <span class="material-icons">volume_up</span>
    <button class="delete-btn" (click)="delete()">
      <span class="material-icons">delete</span>
    </button>
  </div>
</div>

